@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Source+Code+Pro:wght@400;500;600;700;900&display=swap');

/* Globales */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Lacquer', cursive; */
  font-family: 'Source Code Pro', monospace;
}

html {
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
}

.font-paint {
  font-family: 'Lacquer', cursive;
}

.fondo-gris-1 {
  /* background: linear-gradient(180deg, #1c262e 0%, #414d59 16.67%, #1c262e 100%); */
  background: linear-gradient(180deg, #353E46 16.67%, #23272B 100%);
}

.fondo-gris-2 {
  /* background: linear-gradient(180deg, #23272B 0%, #353E46 16.67%, #23272B 100%); */
  background: linear-gradient(180deg, #23272B 16.67%, #353E46 100%);
}

.fondo-blur {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 0px 22px rgba(0, 0, 0, 0.1), inset -5px -5px 12px rgba(0, 0, 0, 0.05), inset -5px -5px 12px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(75px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
}

.fondo-blur-2 {
  background: #414e58ad;
  opacity: 0.8;
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 0px 22px rgba(0, 0, 0, 0.1), inset -5px -5px 12px rgba(0, 0, 0, 0.05), inset -5px -5px 12px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);
  border-radius: 5px;
  }

  .fondo-blur-3 {
    background: #2c383fdf;
    opacity: .9;
    /* border: 1px solid rgba(255, 255, 255, 0.08); */
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.848), inset -1px 0px 22px rgba(0, 0, 0, 0.291), inset -5px -5px 12px rgba(0, 0, 0, 0.338), inset -5px -5px 12px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(100px);
    }

.barra-statica {
  position: fixed;
  z-index: 20;
  width: 100%;
  padding-bottom: 1.25rem;

  background: #414e58ad;
  opacity: 0.8;
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 0px 22px rgba(0, 0, 0, 0.1), inset -5px -5px 12px rgba(0, 0, 0, 0.05), inset -5px -5px 12px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);
}

.barra-statica > * {
  color: #EAEAEA!important;
}

.barra-statica li:hover > * {
  color: #708AA0!important;
}

.descolgado{
  animation: descolgado 2s 2;
  transform-origin: top left;
}

@media only screen and (max-width: 640px) {
  .descolgado {
    animation:none
  }
}

@keyframes descolgado{
  20%,60%{
    transform: rotate(80deg);
  }
  40%, 80%{
    transform: rotate(60deg);
    opacity: 1;    
  }
  100%{
    transform: translateY(400px) rotate(60deg);
    opacity: 0;
  }
}

.targeta-info {
  top: -200px;
  transition: all .5s ease;
}

.targeta:hover > .targeta-info {
  top: 0;
}

.footer {
  background: url('./assets/svg/ola.svg');
}
